.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-patient{
    padding: 1%;
    height: 40vh;
    width: 20%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group{
    margin: 10% 0%;
}

.form-group input{
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 15px;
}
.form-group  input:focus{
    border: none;
    outline: none;
}