.patient-dashboard {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.dashboard-options {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option {
    background-color: #f0f0f0;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.option:hover {
    background-color: yellow;
}

.option h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.option p {
    font-size: 1rem;
    color: #666;
}
