.request-body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.request-medical-history-change{
    padding: 1%;
    /* min-height: 40vh; */
    width: 30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-form-group{
    margin: 2% 0%;
}

.request-form-group input{
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 15px;
}
.request-form-group  input:focus{
    border: none;
    outline: none;
}
.request-form-group textarea{
    width: 100%;
    padding: 5%;
    border-radius: 15px;
    border: none;
}